.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: #1a202c;
  color: white;
  padding: 20px;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}
