@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Fira Code", monospace; /* Use Fira Code globally */
  background-color: #1a202c; /* Default dark background */
  color: white; /* Default text color */
}

code {
  font-family: "Fira Code", monospace; /* Ensure code elements use Fira Code */
}
html {
  transition: background-color 0.3s, color 0.3s;
}
